.image{
    border-radius: 50%;
    height: 60px;
    width: 60px;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-content: center;
}
.footerText{
    margin-left: 10px;
}